@import url(../css/main.css);
/* Banner */
.heading{
    padding: 1rem 0;
}
/* NATURE */
.heading h1{
    font-size: 20rem;
    color:#fff;
    margin-left: 15rem;
}
.heading .re{
    font-size: 20rem;
    position: relative;
    padding-left: 50rem;
    top: -10rem;
}
 /* big photo of a bridge */
.nature{
    background-image: url(../images/Home/Nebel.jpg);
    height:900px;
    width: 700px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 7rem;
    right: 12rem;
    z-index: -1;
}
.description{
    height: 0px;
}
.description >p{
    color: #fff;
    font-size: 3rem;
    position: relative; 
    top: -30rem;
    margin-left: 10rem;
}
/* vertical line next to the photo */
.vertical{
    border-left: 2px solid #fff;
    height: 800px;
    position: absolute;
    left: 53%;
    top: 9rem;
    z-index: -100;
}
/* structure of my gallery */
ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
li{
    height: 60vh;
    padding: 5rem;
}
img{
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
